@use "variables";

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Raleway", sans-serif;
    color: variables.$blue200;
    background-color: variables.$blue950;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0px;
}
body{
    min-height: 100vh;
}
